*{
    font-family: "Roboto";
    color: hsl(234, 29%, 20%);
}
.flex{
    display: flex;
}
.justify{
    justify-content: space-between;
}
.display{
    display: none;
}
button{
    cursor: pointer;
}
button:hover{
    background-image: linear-gradient(to right, hsl(4, 100%, 67%) , rgb(255, 174, 0));

}

.input_clr{
    border: 1px solid red;
    background-color: rgba(255, 0, 0, 0.282);
}